/*
 * typography.scss
 */
html {
    font-size: 100%;
    //font-size: 88.89%;
}

@media (min-width: 55rem) {
    html {
        font-size: 112.5%;
        //font-size: 100%;
    }
}

body {
    font-family: $serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $body-color;
    background-color: $background-color;
}

h1 {
    font-family: $sans-serif;
    font-size: 1.8 * $base-font-size;
    margin-top: 0;
    margin-bottom: $vertical-rhythm; // * 2;
}

p,
pre {
    margin-top: 0;
    margin-bottom: $vertical-rhythm;
}

a {
    text-decoration: none;
}

// In part from Typography Handbook
.main {
    max-width: 58rem;
    min-width: 50%;
    padding: 0 1.5rem;
    margin: 0 auto $vertical-rhythm; // * 2;

    h1 {
        border-bottom: 2px solid;
    }

    a {
        color: $dark-accent-color-3;
        font-weight: 600;
    }
}

.header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), $background-color);
    
    a {
        font-family: $sans-serif;
        color: $header-font-color;
    }

    .title h1 {
        font-size: 2 * $base-font-size;
    }

    .title p {
        font-family: $cursive;
        font-size: 1.6 * $base-font-size;
        margin-bottom: 0;
    }
}

.footer {
    color: $footer-font-color;
    background-color: $footer-background-color;

    a {
        color: $footer-font-color;
    }

    .social a {
        font-size: 1.4 * $base-font-size;
        padding: 0 0.3em;
    }
}

