.old-fashioned {
    font-size: $base-font-size;
    margin-bottom: $vertical-rhythm;
}

.modern {
    font-size: $base-font-size;
    margin-bottom: $vertical-rhythm;
}

.worst-ever {
    font-size: $base-font-size;
    margin-bottom: $vertical-rhythm;
}


